<div class="py-4">
  <div class="d-flex justify-content-between w-100 flex-wrap">
    <div class="mb-3 mb-lg-0">
      <h1 class="h4">Yeni Daire Kaydı</h1>

    </div>
    <div>
      <a href="" class="btn btn-outline-gray"><i class="far fa-question-circle me-1"></i> Yardım </a>
    </div>
  </div>
</div>

<%= form_for @daire do |f| %>

  <div class="row">
    <div class="col-12 mb-4">
      <div class="card border-0 shadow components-section">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-lg-4 col-sm-6">
              <!-- Form -->
              <div class="mb-4">
                <label class="my-1 me-2" for="country">Blok</label>
                <select class="form-select" id="country" aria-label="Default select example">
                  <option selected="">A Blok</option>
                  <option value="1">B Blok</option>
                  <option value="2">C Blok</option>
                  <option value="3">D Blok</option>
                </select>
              </div>
              <div class="mb-4">
                <label for="email">Daire No</label>
                <%= f.text_field :daireno , class:"form-control ",placeholder:"Daire No",:required => true %>

                <small id="emailHelp" class="form-text text-muted">Kapı Numarası. (Tekrar edemez)</small>
              </div>
              <div class="mb-4">
                <label class="my-1 me-2" for="country">Tür</label>

                <%= f.collection_select(:dairetipi_id,
                                        Dairetipi.order(:id),
                                        :id,
                                        :aciklama,
                                        {:prompt => ''},
                                        {:class => "form-select", :required => true})

                %>

              </div>
              <div class="mb-4">
                <label for="email">Kat</label>
                <%= f.text_field :kat , class:"form-control ",placeholder:"Kat" %>
              </div>




            </div>
            <div class="col-lg-4 col-sm-6">


              <div class="mb-4">
                <label for="email">Brüt (m2)</label>
                <%= f.text_field :brut , class:"form-control ",placeholder:"Brut (m2)"%>

              </div>
              <div class="mb-4">
                <label for="email">Net (m2)</label>
                <%= f.text_field :net , class:"form-control ",placeholder:"Net (m2)" %>
              </div>
              <div class="mb-4">
                <label for="email">Arsa Payı</label>
                <%= f.text_field :arsapayi , class:"form-control ",placeholder:"Arsa Payı" %>
              </div>
              <div class="mb-4">
                <label for="email">Park Sayısı</label>
                <%= f.text_field :parksayisi , class:"form-control ",placeholder:"Park Sayısı" %>
              </div>
              <div class="mb-4">
                <label for="email">Petek Sayısı</label>
                <%= f.text_field :peteksatisi , class:"form-control ",placeholder:"Petek Sayısı" %>
              </div>
              <!-- Form -->

            </div>
            <div class="col-lg-4 col-sm-6">

            </div>
          </div>

          <div class="row mb-5 mb-lg-5">
            <div class="col-lg-3 col-md-6">

            </div>
            <div class="col-lg-3 col-sm-6 mt-4 mt-md-0">
              <!-- Radio -->

            </div>
            <div class="col-lg-3 col-sm-6 mt-4 mt-md-0">
              <%= submit_tag "Kaydet", class:"btn btn-pill btn-outline-success"%>
              <button class="btn btn-pill btn-outline-danger" type="button">İptal</button>
            </div>
          </div>
        </div>






      </div>
    </div>
  </div>
  </div>

<% end %>